body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

strong {
  font-size: 150%;
}

.center {
  display: flex;
  justify-content: center;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  margin: 5px;
  border-radius: 45px;
  padding: 20px;
  border: 5px solid black;
}

.pink {
  background-color: deeppink;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.auburn {
  background-color: brown;
}

.red {
  background-color: red;
}

.sapphire {
  background-color: royalblue;
}

.blue {
  background-color: deepskyblue;
}

.violet {
  background-color: violet;
}

.white {
  background-color: white;
}